target/
!.mvn/wrapper/maven-wrapper.jar
*.log
.DS_Store
overlays


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iml
out
gen
*/target
